#coxmotron-gui{
		position:fixed;
		width:300px;
		height:auto;
		border:1px solid gray;
		top:28%;
		right:1%;
		padding:5px;
		z-index:10;
		background-color:rgb(240,240,240);
		border-radius:5px;
}

.guibutton{
	display:inline-block;
	position:relative;
	margin:5px;
	width:90%;
	height:30px;
	box-shadow:none;
	border-radius:5px;
}
#guititle{
	font-size:x-large;
	margin:2px;
}

#guicopyright{
	margin:2px;
}
